body {
    background-color: rgb(245, 251, 255);
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    float: left;
    padding-top: 10px;
    padding-left: 4%;
}

h2 {
    margin: 0px;
    position: absolute;
    top: 22%;
    left: 60px;
}

h3 {
    color: white;
    background-color: rgb(67, 94, 173) ;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 10px;
    border-radius: 5px;
}

header {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(58, 58, 60);
    color: white;
    height: 100px;
    background-color: rgb(58, 58, 60);
    margin-bottom: 3px;
}

header a{
    color: white;
}

nav {
    float: right;
}

nav a {
    height: 60px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 100px;
    padding-top: 40px;
    float: left;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

nav a:hover {
    background-color:white;
    color: rgb(58, 58, 60);
}

footer a{
    color: white;
}

footer {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(58, 58, 60);
    font-size: smaller;
    text-align: center;
    margin-bottom: 0px;
}

#logo {
    height: 100px;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#montagne {
    position: relative;
    color: white;
    width: 100%;
    height: auto;
    font-size: 1.5em;
    margin: 0px;
}

#montagneimage {
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

#montagneimage_mobile {
    display: none;
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

.hrvert {
    background-color:white;
    border: none;
    margin-top: 0px;
    float:left;
    width: 1px;
    height: 100px;
}

@media only screen and (max-width: 1035px) {
    body {
        margin-left: 2%;
        margin-right: 2%;
    }

    h1 {
        padding-top: 5px;
        margin: 0px;
        font-size: 2em;
    }

    h2 {
        left: 40px;
    }

    header {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        height: 50px;
        z-index: 1000;
    }

    nav {
        display: none;
        margin-top: 60px;
        float: left;
    }

    nav a {
        clear: both;
        height: 20px;
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
    }

    .hrvert {
        display: none;
    }

    #logo {
        height: 50px;
    }

    #montagneimage {
        display: none;
    }

    #montagneimage_mobile {
        display: inline;
    }

    #texteaccueil {
        font-size: 0.8em;
    }

    #navmobile {
        float: right;
        height: 25px;
        width: 25px;
        margin-top: 10px;
        margin-right: 8px;
    }

    #navmobile:hover {
        background-color: #DCDDDF;
    }

    #navmobile:hover .barre {
        background-color: rgb(58, 58, 60);
    }

    .barre {
        background-color: #ECEDEF;
        height: 2px;
        margin: 4px 2px;
    }
}