body {
    background-color: rgb(245, 251, 255);
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    float: left;
    padding-top: 10px;
    padding-left: 4%;
}

h2 {
    padding-left: 40px;
    padding-top: 18%;
    margin: 0;
}

h3 {
    color: white;
    background-color: rgb(67, 94, 173) ;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 10px;
    margin-right: 200px;
    border-radius: 5px;
}

header {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(58, 58, 60);
    color: white;
    height: 100px;
    background-color: rgb(58, 58, 60);
    margin-bottom: 3px;
}

header a{
    color: white;
}

nav {
    float: right;
}

nav a {
    height: 60px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 100px;
    padding-top: 40px;
    float: right;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

nav a:hover {
    background-color:white;
    color: rgb(58, 58, 60);
}

footer {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(58, 58, 60);
    font-size: smaller;
    text-align: center;
    margin-bottom: 0px;
}

#logo {
    height: 100px;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#montagne {
    color: white;
    background-size: 100%, 100%;
    margin: 0px;
    background-image: url(montagne.jpg);
    background-repeat: no-repeat;
    width: auto;
    height: 550px;
    text-shadow: 5px,5px black;
    font-size: 1.5em;
}

.hrvert {
    background-color:white;
    border: none;
    margin-top: 0px;
    float:right;
    width: 1px;
    height: 100px;
}